<div>

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{moviesdata.title}}</mat-card-title>
           
            </mat-card-header>
            <img mat-card-image src={{getImageUrl(moviesdata.poster_path)}}>
            <mat-card-content>
     
                <h1></h1>
             <h2>{{moviesdata.overview}}</h2>
            
            </mat-card-content>
            <mat-card-actions>
            
            </mat-card-actions>
          </mat-card>

        </div>